openai
streamlit
yt-dlp
speechrecognition
pydub
sounddevice
numpy
scipy
beautifulsoup4
moviepy==1.0.3
requests
pypdf2
google-api-python-client
google-auth
imageio[ffmpeg]
decorator
python-dotenv
pyaudio
